@import "vars";
@import "mixins";

* {
    @include main;
}

main {
    height: 100vh;
    background-image: url("../slike/intro.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav {
        display: flex;
        align-items: center;
        p {
            background-color: $orange-color;
            color: #fff;
            width: 20em;
            text-decoration: underline;
            font-size: 1.2em;
            padding: 1em;
        }
        ul {
            text-align: left;
            background-color: $dark-blue;
            width: 100%;
            padding: 1.3em;
            li {
                display: inline-block;
                margin-right: 4em;
                a {
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        border-bottom: 3px solid #fff;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    header {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.466);
        padding: 1em;
        width: 80%;
        margin: 0 auto 5em;
        h1 {
            font-size: 3em;
            color: #fff;
        }
        h4 {
            font-size: 1.5em;
            color: #fff;
        }
    }
}

.buttons {
    padding: 3em;
    text-align: right;
    .all-buttons {
        margin-right: 3em;
    }
}

.all-buttons {
    border-radius: 20em;
    padding: .8em 2em;
    border: 1px solid $light-grey-color1;
    color: $main-text-color;
    &:hover {
        background-color: $light-grey-color1;
        color: #fff;
    }
}

.photos {
    .cards {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .card {
            width: 300px;
            height: 400px;
            position: relative;
            padding: 1em;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                &:hover + p {
                    visibility: visible;
                }
            }
            p {
                position: absolute;
                top: 1em;
                left: 1em;
                background-color: rgba(255, 255, 255, 0.747);
                width: 100%;
                padding: .8em;
                font-weight: bolder;
                visibility: hidden;
            }
        }
    }
}

.pricing {
    text-align: center;
    padding: 5em;
    h2 {
        font-size: 2em;
        color: $headings-color;
        text-transform: uppercase;
    }
    p {
        margin: 3em 0;
    }
    table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
        td, th {
            padding: .8em;
            border: 1px solid $main-text-color;
        }
        .invisible-cell {
            border: none;
        }
        .orange-cell {
            background-color: $orange-color;
            color: #fff;
        }
        .dark-cell {
            background-color: $dark-blue;
            color: #fff;
        }
    }
    .all-buttons {
        display: none;
    }
}